sam deploy --no-confirm-changeset --no-fail-on-empty-changeset --parameter-overrides \
	NodeEnv=development\
	AppURL=http://localhost:9001/\
	AppSecret=random-long-password\
	LightfunnelsAppKey=random-secret-requested-from-lightfunnels-team\
	LightfunnelsAppSecret=random-secret-requested-from-lightfunnels-team\
	LightfunnelsUrl=https://api.lightfunnels.com/\
	LightfunnelsFrontUrl=https://app.lightfunnels.com/\
	DbHost=\
	DbUser=\
	DbName=\
	DbPass=\
	ShopifyClientID=\
	ShopifyClientSecret=
