@import 'variables';

:local(.avatar){
  width: 50px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  background: $grey-12;
  border: 1px solid $grey--43;
  .placeHolder {
    display: block;
    width: 100%;
    background: $grey--45;
    border-radius: inherit;
  }
  i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    color: $grey-43;
  }
  .visualPlaceHolder {
    @include center;
    border-radius: inherit;
    height: 100%;
    width: 100%;
  }
  .image {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &, .image {
    border-radius: 3px;
  }
  // why did u wrote this in a global component
  // width: 712px;
  max-width: 100%;
  &:not(:last-child){
    margin-right: 15px;
  }
  &.rounded {
    &, & > * {
      border-radius: 50%;
    }
  }
}