@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.woff2?j7v2rn') format('woff2'),
    url('fonts/icomoon.ttf?j7v2rn') format('truetype'),
    url('fonts/icomoon.woff?j7v2rn') format('woff'),
    url('fonts/icomoon.svg?j7v2rn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-webhook:before {
  content: "\ea26";
}
.icon-arrow-maximize:before {
  content: "\ea25";
}
.icon-has-no-invitation:before {
  content: "\ea28";
}
.icon-Edit-theme-2:before {
  content: "\ea29";
}
.icon-integration-2:before {
  content: "\ea1e";
}
.icon-integration:before {
  content: "\ea1c";
}
.icon-arrows-minimize:before {
  content: "\ea19";
}
.icon-contact-support:before {
  content: "\ea17";
}
.icon-product-tour:before {
  content: "\ea18";
}
.icon-missing-theme:before {
  content: "\e9f2";
  color: #3e4850;
}
.icon-circle-2:before {
  content: "\e9e3";
}
.icon-first-sale:before {
  content: "\e9e1";
}
.icon-lock:before {
  content: "\e9e0";
}
.icon-view-builder:before {
  content: "\e9de";
}
.icon-view-product:before {
  content: "\e9df";
  color: #3e4850;
}
.icon-orders-2:before {
  content: "\e9dc";
}
.icon-arrow-right-down-corner:before {
  content: "\e9db";
}
.icon-arrow-left-inline:before {
  content: "\e9da";
}
.icon-arrow-right-inline:before {
  content: "\e9d9";
}
.icon-pending:before {
  content: "\e9d8";
}
.icon-Unarchive:before {
  content: "\e9d7";
}
.icon-Book:before {
  content: "\e9d5";
}
.icon-Menu:before {
  content: "\e9d3";
}
.icon-Sales:before {
  content: "\e9d2";
}
.icon-ArrowDownRight:before {
  content: "\e9ce";
}
.icon-ArrowUpRight:before {
  content: "\e9d0";
}
.icon-User-Profile:before {
  content: "\e9cd";
}
.icon-Overlfow-Scroll:before {
  content: "\e9ca";
}
.icon-Arrow-Left-Overlapping:before {
  content: "\e9c8";
}
.icon-All-Sides:before {
  content: "\e9c4";
}
.icon-Each-Corner:before {
  content: "\e9c6";
}
.icon-Each-Sides:before {
  content: "\e9c7";
}
.icon-Move:before {
  content: "\e99d";
}
.icon-X-Ray-Off:before {
  content: "\e9b6";
}
.icon-Back:before {
  content: "\e9b4";
}
.icon-Basic:before {
  content: "\e924";
}
.icon-Business:before {
  content: "\e96b";
}
.icon-Pro:before {
  content: "\e96c";
}
.icon-Arrow-Bottom-Right:before {
  content: "\e904";
}
.icon-Arrow-Up-Right:before {
  content: "\e905";
}
.icon-File-Empty:before {
  content: "\ea0d";
}
.icon-home-2:before {
  content: "\ea0b";
}
.icon-Split-Test:before {
  content: "\ea0e";
}
.icon-Activity:before {
  content: "\ea09";
}
.icon-shopping-cart:before {
  content: "\ea0f";
}
.icon-world:before {
  content: "\ea0c";
}
.icon-Phone:before {
  content: "\ea07";
}
.icon-check:before {
  content: "\e9b1";
}
.icon-external-link:before {
  content: "\e9b0";
}
.icon-help:before {
  content: "\e9ac";
}
.icon-logout:before {
  content: "\e9ad";
}
.icon-arrow-down21:before {
  content: "\e9ae";
}
.icon-arrow-up21:before {
  content: "\e9af";
}
.icon-circle:before {
  content: "\e9aa";
}
.icon-archive:before {
  content: "\e9a1";
}
.icon-pin:before {
  content: "\e9a2";
}
.icon-refund:before {
  content: "\e9a3";
}
.icon-paid:before {
  content: "\e9a4";
}
.icon-fulfilled:before {
  content: "\e9a5";
}
.icon-refunded:before {
  content: "\e9a6";
}
.icon-unfulfilled:before {
  content: "\e9a7";
}
.icon-arrow-right1:before {
  content: "\e988";
}
.icon-arrow-left1:before {
  content: "\e993";
}
.icon-arrow-down:before {
  content: "\e981";
}
.icon-arrow-up:before {
  content: "\e98b";
}
.icon-star-on:before {
  content: "\e97b";
}
.icon-Star-off:before {
  content: "\e97d";
}
.icon-mail:before {
  content: "\e9c1";
}
.icon-DeleteTag:before {
  content: "\e964";
}
.icon-Unbind:before {
  content: "\e965";
}
.icon-bind:before {
  content: "\e966";
}
.icon-Export:before {
  content: "\e967";
}
.icon-Import:before {
  content: "\e968";
}
.icon-settings:before {
  content: "\e969";
}
.icon-glob:before {
  content: "\e96a";
}
.icon-order:before {
  content: "\e96d";
}
.icon-user:before {
  content: "\e96f";
}
.icon-Alerts-Unauthorized:before {
  content: "\e96e";
}
.icon-close-circle:before {
  content: "\e976";
}
.icon-Alerts-Info:before {
  content: "\e970";
}
.icon-Alerts-Success:before {
  content: "\e971";
}
.icon-Alerts-Warning:before {
  content: "\e972";
}
.icon-Analytics:before {
  content: "\e973";
}
.icon-Stats:before {
  content: "\e974";
}
.icon-attach:before {
  content: "\e977";
}
.icon-billing:before {
  content: "\e978";
}
.icon-backcolor:before {
  content: "\e979";
}
.icon-card:before {
  content: "\e97a";
}
.icon-users:before {
  content: "\e9b9";
}
.icon-bin:before {
  content: "\e97c";
}
.icon-discount:before {
  content: "\e97f";
}
.icon-duplicate:before {
  content: "\e97e";
}
.icon-edit:before {
  content: "\e9c3";
}
.icon-funnels:before {
  content: "\e980";
}
.icon-home:before {
  content: "\e982";
}
.icon-image:before {
  content: "\e983";
}
.icon-legal:before {
  content: "\e99a";
}
.icon-maximize:before {
  content: "\e984";
}
.icon-MessageSquare:before {
  content: "\e985";
}
.icon-minimize:before {
  content: "\e986";
}
.icon-minus:before {
  content: "\e987";
}
.icon-more:before {
  content: "\e996";
}
.icon-more-vertical:before {
  content: "\e989";
}
.icon-Plus:before {
  content: "\e98a";
}
.icon-bags:before {
  content: "\e997";
}
.icon-Refresh:before {
  content: "\e98c";
}
.icon-ResizePage:before {
  content: "\e98d";
}
.icon-Reviews:before {
  content: "\e98e";
}
.icon-cog:before {
  content: "\e98f";
}
.icon-Shortcut:before {
  content: "\e990";
}
.icon-star:before {
  content: "\e991";
}
.icon-Themes:before {
  content: "\e992";
}
.icon-plane:before {
  content: "\e99b";
}
.icon-invisible:before {
  content: "\e994";
}
.icon-Upload:before {
  content: "\e995";
}
.icon-eye2:before {
  content: "\e99c";
}
.icon-cancel-music:before {
  content: "\e9c2";
}
.icon-code:before {
  content: "\ea1b";
}
.icon-Video:before {
  content: "\e9c9";
}
.icon-Clear-Format:before {
  content: "\e9b7";
}
.icon-bold:before {
  content: "\e907";
}
.icon-italic:before {
  content: "\e908";
}
.icon-underline:before {
  content: "\e909";
}
.icon-Text-Color:before {
  content: "\ea10";
}
.icon-Bg-Color:before {
  content: "\ea11";
}
.icon-Link:before {
  content: "\e90a";
}
.icon-ListCircle:before {
  content: "\e90b";
}
.icon-ListNumber:before {
  content: "\e90c";
}
.icon-Table:before {
  content: "\e90d";
}
.icon-Text-Align-Left:before {
  content: "\e90e";
}
.icon-Text-Align-Center:before {
  content: "\e90f";
}
.icon-Text-Align-Right:before {
  content: "\e910";
}
.icon-Text-Align-Justified:before {
  content: "\e911";
}
.icon-go-up:before {
  content: "\e935";
}
.icon-emoji:before {
  content: "\e903";
}
.icon-save:before {
  content: "\e906";
}
.icon-align-center:before {
  content: "\e912";
}
.icon-align-left:before {
  content: "\e913";
}
.icon-align-right:before {
  content: "\e914";
}
.icon-align-bottom:before {
  content: "\e915";
}
.icon-align-middle:before {
  content: "\e916";
}
.icon-align-top:before {
  content: "\e917";
}
.icon-placeholder-image:before {
  content: "\e901";
}
.icon-placeholder-video:before {
  content: "\e975";
}
.icon-no-reviews:before {
  content: "\e9dd";
}
.icon-Envelope-Open:before {
  content: "\e9b5";
}
.icon-Session-Expired:before {
  content: "\ea08";
}
.icon-account-dropdown-down:before {
  content: "\e9ab";
}
.icon-arrow-down2:before {
  content: "\e9a8";
}
.icon-arrow-up2:before {
  content: "\e9a9";
}
.icon-add:before {
  content: "\e918";
}
.icon-arrowhead-pointing-to-the-right:before {
  content: "\e919";
}
.icon-Dropdown-Close:before {
  content: "\e9bd";
}
.icon-caret-down:before {
  content: "\e9be";
}
.icon-search:before {
  content: "\e91a";
}
.icon-calendar:before {
  content: "\e91b";
}
.icon-sections-library:before {
  content: "\ea24";
}
.icon-layers:before {
  content: "\e91c";
}
.icon-plus-wrapped:before {
  content: "\e900";
}
.icon-Taskbar-EditElement:before {
  content: "\e91d";
}
.icon-Taskbar-Settings:before {
  content: "\e91e";
}
.icon-Taskbar-StyleStep:before {
  content: "\e91f";
}
.icon-popup:before {
  content: "\ea1f";
}
.icon-publish-review:before {
  content: "\ea20";
}
.icon-toggler:before {
  content: "\ea21";
}
.icon-express-checkout:before {
  content: "\ea16";
}
.icon-dropdown-select:before {
  content: "\e9e4";
  color: #3e4850;
}
.icon-carousel:before {
  content: "\e9e5";
}
.icon-currency-convertor:before {
  content: "\e9e6";
}
.icon-file-input:before {
  content: "\e9e7";
}
.icon-image-gallery:before {
  content: "\e9e9";
}
.icon-masonry1:before {
  content: "\e9ea";
}
.icon-product-variants:before {
  content: "\e9ec";
}
.icon-rating:before {
  content: "\e9ed";
}
.icon-repeater:before {
  content: "\e9ee";
}
.icon-sticky:before {
  content: "\e9f0";
}
.icon-Accordion:before {
  content: "\e9b2";
}
.icon-Billing-Address:before {
  content: "\e9c5";
}
.icon-Checkbox:before {
  content: "\e9cb";
}
.icon-Column1:before {
  content: "\e9cc";
}
.icon-Container:before {
  content: "\e9cf";
}
.icon-Divider:before {
  content: "\e9d1";
}
.icon-Label:before {
  content: "\e9d4";
}
.icon-Ordee-Summary:before {
  content: "\e9d6";
}
.icon-Order-Bump:before {
  content: "\e9e2";
}
.icon-Row1:before {
  content: "\e9e8";
}
.icon-Sapcer:before {
  content: "\e9eb";
}
.icon-Section:before {
  content: "\e9ef";
}
.icon-Shipping-address:before {
  content: "\e9f1";
}
.icon-Tab:before {
  content: "\e9f7";
}
.icon-Text-Area:before {
  content: "\e9fd";
}
.icon-Tile:before {
  content: "\ea00";
}
.icon-Payment-Form:before {
  content: "\ea04";
}
.icon-Link1:before {
  content: "\ea05";
}
.icon-PanelAdd-Table1:before {
  content: "\e9bf";
}
.icon-h1:before {
  content: "\e920";
}
.icon-list:before {
  content: "\e921";
}
.icon-PanelAdd-Button:before {
  content: "\e922";
}
.icon-PanelAdd-Countdown-Timer:before {
  content: "\e923";
}
.icon-PanelAdd-Code:before {
  content: "\e925";
}
.icon-PanelAdd-Input:before {
  content: "\e926";
}
.icon-video-1:before {
  content: "\e927";
}
.icon-PanelAdd-Image:before {
  content: "\e928";
}
.icon-PanelAdd-Listitem:before {
  content: "\e929";
}
.icon-text:before {
  content: "\e92a";
}
.icon-click:before {
  content: "\e92b";
}
.icon-toggler-mini:before {
  content: "\ea22";
}
.icon-publish-review-mini:before {
  content: "\ea23";
}
.icon-tab:before {
  content: "\ea1a";
}
.icon-accordion:before {
  content: "\e9f3";
}
.icon-button:before {
  content: "\e9f4";
}
.icon-carousel1:before {
  content: "\e9f5";
}
.icon-checkout-summary-3:before {
  content: "\e9f6";
}
.icon-countdown:before {
  content: "\e9f8";
}
.icon-currency-convertor1:before {
  content: "\e9f9";
}
.icon-express-checkoute:before {
  content: "\e9fa";
}
.icon-file:before {
  content: "\e9fb";
}
.icon-images-gallery:before {
  content: "\e9fc";
}
.icon-masonry2:before {
  content: "\e9fe";
}
.icon-order-bump:before {
  content: "\e9ff";
}
.icon-payment-form:before {
  content: "\ea01";
}
.icon-rating1:before {
  content: "\ea02";
}
.icon-repeater1:before {
  content: "\ea03";
}
.icon-shipping-address:before {
  content: "\ea12";
}
.icon-sticky1:before {
  content: "\ea13";
}
.icon-tile:before {
  content: "\ea14";
}
.icon-variant-selector:before {
  content: "\ea15";
}
.icon-root:before {
  content: "\e9c0";
}
.icon-Section1:before {
  content: "\e9b3";
}
.icon-Container1:before {
  content: "\e93e";
}
.icon-Row:before {
  content: "\e936";
}
.icon-Column:before {
  content: "\e937";
}
.icon-Custom-Html:before {
  content: "\e92c";
}
.icon-link:before {
  content: "\e92d";
}
.icon-label:before {
  content: "\e92e";
}
.icon-Spacer:before {
  content: "\e92f";
}
.icon-input:before {
  content: "\e930";
}
.icon-textarea:before {
  content: "\e931";
}
.icon-PanelLayers-Radio:before {
  content: "\e932";
}
.icon-checkbox:before {
  content: "\e933";
}
.icon-dropdown:before {
  content: "\e934";
}
.icon-video-2:before {
  content: "\e938";
}
.icon-PanelLayers-image:before {
  content: "\e939";
}
.icon-divider:before {
  content: "\e93a";
}
.icon-text1:before {
  content: "\e93d";
}
.icon-list1:before {
  content: "\e93b";
}
.icon-litem:before {
  content: "\e93c";
}
.icon-Visiblity-Overflow-Scroll:before {
  content: "\e93f";
}
.icon-reverse:before {
  content: "\e940";
}
.icon-flex-bottom:before {
  content: "\e941";
}
.icon-Flex-Grid-Align-Horizontal-Center:before {
  content: "\e942";
}
.icon-Flex-Grid-Align-Horizontal-Strecth:before {
  content: "\e943";
}
.icon-flex-top:before {
  content: "\e944";
}
.icon-flex-center2:before {
  content: "\e945";
}
.icon-flex-left:before {
  content: "\e946";
}
.icon-flex-right:before {
  content: "\e947";
}
.icon-Flex-Grid-Align-Vertical-Stretch:before {
  content: "\e948";
}
.icon-Align-Vertical-Stretch:before {
  content: "\e949";
}
.icon-justify-center:before {
  content: "\e94a";
}
.icon-justify-left:before {
  content: "\e94b";
}
.icon-justify-right:before {
  content: "\e94c";
}
.icon-justify-space-between:before {
  content: "\e94d";
}
.icon-justify-space-around:before {
  content: "\e94e";
}
.icon-justify-right2:before {
  content: "\e94f";
}
.icon-justify-center-2:before {
  content: "\e950";
}
.icon-justify-space-between2:before {
  content: "\e951";
}
.icon-justify-space-around2:before {
  content: "\e952";
}
.icon-justify-left2:before {
  content: "\e953";
}
.icon-Grid-Justify-Horizontal-Center:before {
  content: "\e954";
}
.icon-Grid-Justify-Horizontal-Left:before {
  content: "\e955";
}
.icon-Grid-Justify-Horizontal-Right:before {
  content: "\e956";
}
.icon-Grid-Justify-Horizontal-SapceBetween:before {
  content: "\e957";
}
.icon-Grid-Justify-Horizontal-SpaceAround:before {
  content: "\e958";
}
.icon-Grid-Justify-Horizontal-Stretch:before {
  content: "\e959";
}
.icon-Grid-Justify-Vertical-bottom:before {
  content: "\e95a";
}
.icon-Grid-Justify-Vertical-Center:before {
  content: "\e95b";
}
.icon-Grid-Justify-Vertical-SapceBetween:before {
  content: "\e95c";
}
.icon-Grid-Justify-Vertical-SpaceAround:before {
  content: "\e95d";
}
.icon-Grid-Justify-Vertical-Stretch:before {
  content: "\e95e";
}
.icon-Grid-Justify-Vertical-Top:before {
  content: "\e95f";
}
.icon-block:before {
  content: "\e960";
}
.icon-flex:before {
  content: "\e961";
}
.icon-grid-boxed:before {
  content: "\e962";
}
.icon-masonry:before {
  content: "\ea0a";
}
.icon-drag:before {
  content: "\e963";
}
.icon-popups:before {
  content: "\ea1d";
}
.icon-arrow-right:before {
  content: "\e998";
}
.icon-arrow-left:before {
  content: "\e999";
}
.icon-outline:before {
  content: "\e9b8";
}
.icon-desktop:before {
  content: "\e99e";
}
.icon-tablet:before {
  content: "\e99f";
}
.icon-mobile:before {
  content: "\e9a0";
}
.icon-mobile-landscape:before {
  content: "\e9ba";
}
.icon-redo:before {
  content: "\e9bb";
}
.icon-undo:before {
  content: "\e9bc";
}
.icon-collect-leads:before {
  content: "\ea06";
  color: #cdcdcd;
}
.icon-Reset:before {
  content: "\e902";
}
