$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-webhook: "\ea26";
$icon-arrow-maximize: "\ea25";
$icon-has-no-invitation: "\ea28";
$icon-Edit-theme-2: "\ea29";
$icon-integration-2: "\ea1e";
$icon-integration: "\ea1c";
$icon-arrows-minimize: "\ea19";
$icon-contact-support: "\ea17";
$icon-product-tour: "\ea18";
$icon-missing-theme: "\e9f2";
$icon-circle-2: "\e9e3";
$icon-first-sale: "\e9e1";
$icon-lock: "\e9e0";
$icon-view-builder: "\e9de";
$icon-view-product: "\e9df";
$icon-orders-2: "\e9dc";
$icon-arrow-right-down-corner: "\e9db";
$icon-arrow-left-inline: "\e9da";
$icon-arrow-right-inline: "\e9d9";
$icon-pending: "\e9d8";
$icon-Unarchive: "\e9d7";
$icon-Book: "\e9d5";
$icon-Menu: "\e9d3";
$icon-Sales: "\e9d2";
$icon-ArrowDownRight: "\e9ce";
$icon-ArrowUpRight: "\e9d0";
$icon-User-Profile: "\e9cd";
$icon-Overlfow-Scroll: "\e9ca";
$icon-Arrow-Left-Overlapping: "\e9c8";
$icon-All-Sides: "\e9c4";
$icon-Each-Corner: "\e9c6";
$icon-Each-Sides: "\e9c7";
$icon-Move: "\e99d";
$icon-X-Ray-Off: "\e9b6";
$icon-Back: "\e9b4";
$icon-Basic: "\e924";
$icon-Business: "\e96b";
$icon-Pro: "\e96c";
$icon-Arrow-Bottom-Right: "\e904";
$icon-Arrow-Up-Right: "\e905";
$icon-File-Empty: "\ea0d";
$icon-home-2: "\ea0b";
$icon-Split-Test: "\ea0e";
$icon-Activity: "\ea09";
$icon-shopping-cart: "\ea0f";
$icon-world: "\ea0c";
$icon-Phone: "\ea07";
$icon-check: "\e9b1";
$icon-external-link: "\e9b0";
$icon-help: "\e9ac";
$icon-logout: "\e9ad";
$icon-arrow-down21: "\e9ae";
$icon-arrow-up21: "\e9af";
$icon-circle: "\e9aa";
$icon-archive: "\e9a1";
$icon-pin: "\e9a2";
$icon-refund: "\e9a3";
$icon-paid: "\e9a4";
$icon-fulfilled: "\e9a5";
$icon-refunded: "\e9a6";
$icon-unfulfilled: "\e9a7";
$icon-arrow-right1: "\e988";
$icon-arrow-left1: "\e993";
$icon-arrow-down: "\e981";
$icon-arrow-up: "\e98b";
$icon-star-on: "\e97b";
$icon-Star-off: "\e97d";
$icon-mail: "\e9c1";
$icon-DeleteTag: "\e964";
$icon-Unbind: "\e965";
$icon-bind: "\e966";
$icon-Export: "\e967";
$icon-Import: "\e968";
$icon-settings: "\e969";
$icon-glob: "\e96a";
$icon-order: "\e96d";
$icon-user: "\e96f";
$icon-Alerts-Unauthorized: "\e96e";
$icon-close-circle: "\e976";
$icon-Alerts-Info: "\e970";
$icon-Alerts-Success: "\e971";
$icon-Alerts-Warning: "\e972";
$icon-Analytics: "\e973";
$icon-Stats: "\e974";
$icon-attach: "\e977";
$icon-billing: "\e978";
$icon-backcolor: "\e979";
$icon-card: "\e97a";
$icon-users: "\e9b9";
$icon-bin: "\e97c";
$icon-discount: "\e97f";
$icon-duplicate: "\e97e";
$icon-edit: "\e9c3";
$icon-funnels: "\e980";
$icon-home: "\e982";
$icon-image: "\e983";
$icon-legal: "\e99a";
$icon-maximize: "\e984";
$icon-MessageSquare: "\e985";
$icon-minimize: "\e986";
$icon-minus: "\e987";
$icon-more: "\e996";
$icon-more-vertical: "\e989";
$icon-Plus: "\e98a";
$icon-bags: "\e997";
$icon-Refresh: "\e98c";
$icon-ResizePage: "\e98d";
$icon-Reviews: "\e98e";
$icon-cog: "\e98f";
$icon-Shortcut: "\e990";
$icon-star: "\e991";
$icon-Themes: "\e992";
$icon-plane: "\e99b";
$icon-invisible: "\e994";
$icon-Upload: "\e995";
$icon-eye2: "\e99c";
$icon-cancel-music: "\e9c2";
$icon-code: "\ea1b";
$icon-Video: "\e9c9";
$icon-Clear-Format: "\e9b7";
$icon-bold: "\e907";
$icon-italic: "\e908";
$icon-underline: "\e909";
$icon-Text-Color: "\ea10";
$icon-Bg-Color: "\ea11";
$icon-Link: "\e90a";
$icon-ListCircle: "\e90b";
$icon-ListNumber: "\e90c";
$icon-Table: "\e90d";
$icon-Text-Align-Left: "\e90e";
$icon-Text-Align-Center: "\e90f";
$icon-Text-Align-Right: "\e910";
$icon-Text-Align-Justified: "\e911";
$icon-go-up: "\e935";
$icon-emoji: "\e903";
$icon-save: "\e906";
$icon-align-center: "\e912";
$icon-align-left: "\e913";
$icon-align-right: "\e914";
$icon-align-bottom: "\e915";
$icon-align-middle: "\e916";
$icon-align-top: "\e917";
$icon-placeholder-image: "\e901";
$icon-placeholder-video: "\e975";
$icon-no-reviews: "\e9dd";
$icon-Envelope-Open: "\e9b5";
$icon-Session-Expired: "\ea08";
$icon-account-dropdown-down: "\e9ab";
$icon-arrow-down2: "\e9a8";
$icon-arrow-up2: "\e9a9";
$icon-add: "\e918";
$icon-arrowhead-pointing-to-the-right: "\e919";
$icon-Dropdown-Close: "\e9bd";
$icon-caret-down: "\e9be";
$icon-search: "\e91a";
$icon-calendar: "\e91b";
$icon-sections-library: "\ea24";
$icon-layers: "\e91c";
$icon-plus-wrapped: "\e900";
$icon-Taskbar-EditElement: "\e91d";
$icon-Taskbar-Settings: "\e91e";
$icon-Taskbar-StyleStep: "\e91f";
$icon-popup: "\ea1f";
$icon-publish-review: "\ea20";
$icon-toggler: "\ea21";
$icon-express-checkout: "\ea16";
$icon-dropdown-select: "\e9e4";
$icon-carousel: "\e9e5";
$icon-currency-convertor: "\e9e6";
$icon-file-input: "\e9e7";
$icon-image-gallery: "\e9e9";
$icon-masonry1: "\e9ea";
$icon-product-variants: "\e9ec";
$icon-rating: "\e9ed";
$icon-repeater: "\e9ee";
$icon-sticky: "\e9f0";
$icon-Accordion: "\e9b2";
$icon-Billing-Address: "\e9c5";
$icon-Checkbox: "\e9cb";
$icon-Column1: "\e9cc";
$icon-Container: "\e9cf";
$icon-Divider: "\e9d1";
$icon-Label: "\e9d4";
$icon-Ordee-Summary: "\e9d6";
$icon-Order-Bump: "\e9e2";
$icon-Row1: "\e9e8";
$icon-Sapcer: "\e9eb";
$icon-Section: "\e9ef";
$icon-Shipping-address: "\e9f1";
$icon-Tab: "\e9f7";
$icon-Text-Area: "\e9fd";
$icon-Tile: "\ea00";
$icon-Payment-Form: "\ea04";
$icon-Link1: "\ea05";
$icon-PanelAdd-Table1: "\e9bf";
$icon-h1: "\e920";
$icon-list: "\e921";
$icon-PanelAdd-Button: "\e922";
$icon-PanelAdd-Countdown-Timer: "\e923";
$icon-PanelAdd-Code: "\e925";
$icon-PanelAdd-Input: "\e926";
$icon-video-1: "\e927";
$icon-PanelAdd-Image: "\e928";
$icon-PanelAdd-Listitem: "\e929";
$icon-text: "\e92a";
$icon-click: "\e92b";
$icon-toggler-mini: "\ea22";
$icon-publish-review-mini: "\ea23";
$icon-tab: "\ea1a";
$icon-accordion: "\e9f3";
$icon-button: "\e9f4";
$icon-carousel1: "\e9f5";
$icon-checkout-summary-3: "\e9f6";
$icon-countdown: "\e9f8";
$icon-currency-convertor1: "\e9f9";
$icon-express-checkoute: "\e9fa";
$icon-file: "\e9fb";
$icon-images-gallery: "\e9fc";
$icon-masonry2: "\e9fe";
$icon-order-bump: "\e9ff";
$icon-payment-form: "\ea01";
$icon-rating1: "\ea02";
$icon-repeater1: "\ea03";
$icon-shipping-address: "\ea12";
$icon-sticky1: "\ea13";
$icon-tile: "\ea14";
$icon-variant-selector: "\ea15";
$icon-root: "\e9c0";
$icon-Section1: "\e9b3";
$icon-Container1: "\e93e";
$icon-Row: "\e936";
$icon-Column: "\e937";
$icon-Custom-Html: "\e92c";
$icon-link: "\e92d";
$icon-label: "\e92e";
$icon-Spacer: "\e92f";
$icon-input: "\e930";
$icon-textarea: "\e931";
$icon-PanelLayers-Radio: "\e932";
$icon-checkbox: "\e933";
$icon-dropdown: "\e934";
$icon-video-2: "\e938";
$icon-PanelLayers-image: "\e939";
$icon-divider: "\e93a";
$icon-text1: "\e93d";
$icon-list1: "\e93b";
$icon-litem: "\e93c";
$icon-Visiblity-Overflow-Scroll: "\e93f";
$icon-reverse: "\e940";
$icon-flex-bottom: "\e941";
$icon-Flex-Grid-Align-Horizontal-Center: "\e942";
$icon-Flex-Grid-Align-Horizontal-Strecth: "\e943";
$icon-flex-top: "\e944";
$icon-flex-center2: "\e945";
$icon-flex-left: "\e946";
$icon-flex-right: "\e947";
$icon-Flex-Grid-Align-Vertical-Stretch: "\e948";
$icon-Align-Vertical-Stretch: "\e949";
$icon-justify-center: "\e94a";
$icon-justify-left: "\e94b";
$icon-justify-right: "\e94c";
$icon-justify-space-between: "\e94d";
$icon-justify-space-around: "\e94e";
$icon-justify-right2: "\e94f";
$icon-justify-center-2: "\e950";
$icon-justify-space-between2: "\e951";
$icon-justify-space-around2: "\e952";
$icon-justify-left2: "\e953";
$icon-Grid-Justify-Horizontal-Center: "\e954";
$icon-Grid-Justify-Horizontal-Left: "\e955";
$icon-Grid-Justify-Horizontal-Right: "\e956";
$icon-Grid-Justify-Horizontal-SapceBetween: "\e957";
$icon-Grid-Justify-Horizontal-SpaceAround: "\e958";
$icon-Grid-Justify-Horizontal-Stretch: "\e959";
$icon-Grid-Justify-Vertical-bottom: "\e95a";
$icon-Grid-Justify-Vertical-Center: "\e95b";
$icon-Grid-Justify-Vertical-SapceBetween: "\e95c";
$icon-Grid-Justify-Vertical-SpaceAround: "\e95d";
$icon-Grid-Justify-Vertical-Stretch: "\e95e";
$icon-Grid-Justify-Vertical-Top: "\e95f";
$icon-block: "\e960";
$icon-flex: "\e961";
$icon-grid-boxed: "\e962";
$icon-masonry: "\ea0a";
$icon-drag: "\e963";
$icon-popups: "\ea1d";
$icon-arrow-right: "\e998";
$icon-arrow-left: "\e999";
$icon-outline: "\e9b8";
$icon-desktop: "\e99e";
$icon-tablet: "\e99f";
$icon-mobile: "\e9a0";
$icon-mobile-landscape: "\e9ba";
$icon-redo: "\e9bb";
$icon-undo: "\e9bc";
$icon-collect-leads: "\ea06";
$icon-Reset: "\e902";

